.bg-gray {
    background-color: #D9D9D9;
}

.nav-top .nav-link {
    color: beige;
}

.burger span {
    color: beige;
    font-size: 24px;
}

.burger:focus {
    box-shadow: none;
}

.jumpboost-brand {
    align-items: center;
    line-height: 39px;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    height: 140px;
    display: flex;
    justify-content: space-around;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    justify-content: end;
    align-items: center;
}

.navbar__list-item {
    text-decoration: none;
    color: black;
}

.title-name {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.search{
   border: none;
   border-bottom: #D9D9D9 3px solid;
}